fastapi
fastapi_limiter 
gunicorn
dotenv
websockets
uvicorn[standard]
crawl4ai
uvloop
tf-playwright-stealth>=1.1.0
# playwright_stealth
aiortc
av 
numpy
firebase-admin
google-cloud-firestore
upstash-redis~=1.4.0
upstash_ratelimit
apscheduler
pydantic>=2.10
psutil>=6.1.1
aiomultiprocess
prometheus_client
prometheus-fastapi-instrumentator
prometheus-exporter-celery>=0.11.2
redis[hiredis]>=5.0.4
fastapi-cache2
celery
courlan
aioboto3
zstandard
typing_extensions>=4.0.0
